# Data Management
Use this file to import and manipulate the data before saving them to the database.

In [12]:
# Dependencies
import pandas as pd
from pathlib import Path

## Movies, actor and character database
Source: https://data.world/jamesgaskin/movies

In [13]:
movies_csv = Path('Datasets/movies.csv')
movies_df = pd.read_csv(movies_csv)

In [14]:
movies_df.columns

Index(['movieid', 'title', 'mpaa_rating', 'budget', 'gross', 'release_date',
       'genre', 'runtime', 'rating', 'rating_count', 'summary'],
      dtype='object')

In [16]:
characters_df = Path('Datasets/character.csv')
characters_df = pd.read_csv(characters_df)

In [17]:
characters_df.columns

Index(['movieid', 'actorid', 'character_name', 'creditorder', 'pay',
       'screentime'],
      dtype='object')

In [18]:
actor_df = Path('Datasets/actor.csv')
actor_df = pd.read_csv(actor_df)

In [19]:
actor_df

,actorid,name,date_of_birth,birth_city,birth_country,height_inches,biography,gender,ethnicity,networth
0,2169,Aaron Eckhart,1968-03-12,Cupertino,USA,61.0,"Aaron Eckhart was born on March 12, 1968 in Cu...",Male,White,16000000.0
1,2204,Aasif Mandvi,1966-03-05,Bombay,India,68.0,"Aasif Mandvi was born on March 5, 1966 in Bomb...",Male,Indian,3000000.0
2,5,Abe Vigoda,1921-02-24,Brooklyn,USA,73.0,Abraham Charles Vigoda was an American actor k...,Male,White,10000000.0
3,1618,Abigail Breslin,1996-04-14,New York City,USA,61.0,Academy Award-nominated actress Abigail Bresli...,Female,White,8000000.0
4,1062,Abraham Benrubi,1969-10-04,Indianapolis,USA,79.0,"Abraham Benrubi was born on October 4, 1969 in...",Male,White,12000000.0
...,...,...,...,...,...,...,...,...,...,...
2594,1337,Ziyi Zhang,1979-02-09,Beijing,China,65.0,Ziyi Zhang is a Chinese actress and model. She...,NaN,NaN,NaN
2595,2566,Zoe Kravitz,1988-12-01,Los Angeles,USA,62.0,"Zoe Isabella Kravitz, the daughter of singer/a...",Female,NaN,NaN
2596,2232,Zoe Saldana,1978-06-19,Passaic,USA,66.0,"Zoe Saldana was born on June 19, 1978 in Passa...",Female,NaN,35000000.0
2597,2534,Zoey Vargas,NaN,NaN,NaN,NaN,"Zoey Vargas is an actress, known for Neighbors...",Female,NaN,NaN
2598,1669,Zooey Deschanel,1980-01-17,Los Angeles,USA,65.0,Zooey Deschanel was born in 1980 into a showbi...,NaN,NaN,25000000.0